:root {
  --main-bg-color: #172d46;
  --dark-bg-color: #061726;
  --main-tx-color: #e7eaf6;
  --second-tx-color: #ceaa60;
}
body {
  font-family: "Merriweather", serif;
}

.container {
  display: flex;
  flex-direction: row;
}

.sidebar {
  width: 25%;
  background-color: var(--dark-bg-color);
  color: #fff;
  height: 100vh;
}
.sidebar .logo {
  text-align: left;
  padding-left: 150px;
  margin: 50px 0 100px 0;
}
.active {
  color: var(--second-tx-color);
}

.sidebar .logo h1 {
  margin: 0;
  font-size: 36px;
}
.sidebar .logo p {
  margin: 0;
  font-size: 15px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  padding: 0;
}

.sidebar li {
  margin: 10px 0;
  text-align: left;
  padding-left: 150px;
  font-size: 28px;
  text-transform: uppercase;
  line-height: 1.5;
}

.sidebar a {
  text-decoration: none;
  color: var(--main-tx-color);
}
.sidebar a:hover {
  color: var(--second-tx-color);
}

.content {
  flex: 1;
  padding: 20px;
  background-color: var(--main-bg-color);
  color: var(--main-tx-color);
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
  }
  .sidebar .logo {
    text-align: center;
    padding-left: 0;
  }
  .sidebar li {
    text-align: center;
    padding-left: 0;
  }
}
