:root {
  --main-bg-color: #172d46;
  --dark-bg-color: #061726;
  --main-tx-color: #e7eaf6;
  --second-tx-color: #ceaa60;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "Merriweather", serif;
  text-align: center;
  display: flex;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.sidebar {
  width: 30%;
  background-color: var(--dark-bg-color);
  color: #fff;
}
.sidebar .logo {
  text-align: left;
  padding-left: 20%;
  margin: 50px 0 100px 0;
}

.sidebar .logo h1 {
  margin: 0;
  font-size: 36px;
  font-weight: 400;
  letter-spacing: 0.3rem;
}
.sidebar .logo p {
  margin: 0;
  font-size: 15px;
  letter-spacing: 0.3rem;
}
.sidebar a.active {
  color: var(--second-tx-color);
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  padding: 0;
}

.sidebar li {
  margin: 10px 0;
  text-align: left;
  padding-left: 20%;
  font-size: 28px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 2;
  letter-spacing: 0.3rem;
}

.sidebar a {
  text-decoration: none;
  color: var(--main-tx-color);
}
.sidebar a:hover {
  color: var(--second-tx-color);
}

.content {
  flex: 1;
  background-color: var(--main-bg-color);
  color: var(--main-tx-color);
}

main .main-img {
  width: 100%;
  height: 600px;
}
.main-text {
  padding: 50px 30px 100px 30px;
  line-height: 2;
}
.gallery-nav {
  margin: 150px 0 0 0;
  text-align: left;
  display: flex;
  justify-content: baseline;
  padding-left: 3%;
}
.gallery-nav a {
  color: var(--second-tx-color);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 0.2rem;
  padding: 15px;
}
.container-gallery {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 50px;
}
.gallery img {
  width: 90%;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
}
.about-content p {
  padding: 5%;
  font-weight: 300;
  letter-spacing: 0.2rem;
  text-align: justify;
}
.about-content img {
  width: 50%;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
}
.career-content {
  margin-top: 50px;
}
.career-content h4 {
  padding: 15px 0 5px 15px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.2rem;
  text-align: left;
  color: var(--second-tx-color);
}
.career-content p {
  padding: 15px;
  font-weight: 300;
  letter-spacing: 0.2rem;
  text-align: left;
  line-height: 1.3;
}
footer p {
  font-size: 10px;
  margin: 0;
}
footer p a {
  text-decoration: none;
  color: var(--second-tx-color);
}

@media (max-width: 992px) {
  .container {
    flex-direction: column;
  }
  .gallery {
    grid-template-columns: auto;
  }
  .container-gallery {
    padding: 0 10px;
  }
  .sidebar {
    width: 100%;
  }
  .sidebar .logo {
    text-align: center;
    padding-left: 0;
    margin: 50px 0 50px 0;
  }
  .sidebar li {
    text-align: center;
    padding-left: 0;
  }
}
